In [ ]:
UNDER_20 = [
    "Zero",
    "One",
    "Two",
    "Three",
    "Four",
    "Five",
    "Six",
    "Seven",
    "Eight",
    "Nine",
    "Ten",
    "Eleven",
    "Twelve",
    "Thirteen",
    "Fourteen",
    "Fifteen",
    "Sixteen",
    "Seventeen",
    "Eighteen",
    "Nineteen",
]

In [21]:
TENS = [
    '',
    '',
    'twenty',
    'thirty',
    'forty',
    'fifty',
    'sixty',
    'seventy',
    'eighty',
    'ninety',
]

In [27]:
ABOVE_100 = {
    100: 'hundred',
    1000: 'thousand',
    1000000: 'million',
    1000000000: 'billion',
    1000000000000: 'trillion',
    }

In [36]:
def num_to_word(num):
    if num < 20:
        return UNDER_20[num]
    elif num < 100 :
        reminder = num % 10
        if reminder == 0:
            return TENS[num // 10]
        return TENS[num // 10] +" "+ num_to_word(reminder)

    pivot = max([key for key in ABOVE_100 if key <= num])
    p1 = num_to_word(num // pivot)
    p2 = ABOVE_100[pivot]

    if num % pivot == 0 :
        return f'{p1} {p2}'
    return f'{p1} {p2} {num_to_word(num % pivot)}'

In [38]:
num_to_word(127643)

'One hundred twenty Seven thousand Six hundred forty Three'